@import '../../styles/global.module.scss';

.container {
    height: auto;
    background-color: $quaternary-color;
    @include flex-column;
    padding: $padding;
    gap: 1rem;

    @include tablet {
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem
    }


}

.maintext {
    @include heading(1rem, $text-color);
    align-self: flex-start;
    margin-bottom: 5px;
}

.subtext {
    @include text(1rem);
    line-height: 1.3rem;

    @include tablet {
        line-height: 1.1rem;
    }

}

.about {
    @include flex-column;
    height: 100%;
    width: 100%;

    @include tablet {
        width: 50%;
    }
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}